# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popular languages for Data Science 
* List commonly used libraries for Data Science
* Use Markdown cells in Jupyter Notebook
* Create table listing Data Science tools
* Create Code cells using arithmetic expressions

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include: 
1. NumPy
2. Pandas
3. Matplotlib
4. Plotly
5. SciPy

Data Science Tools | 
 ------------- | 
 RStudio 
 Apache Spark 
 TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60 
200/60

3.3333333333333335

## Author 
Luke Hansen